body {
  background-color: #f2f2ff;
  margin: 0;
  font-family: sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: #e7e6f2;
  border: 1px solid #c8c7d6;
  font-family: monospace;
}

caption {
  padding: 10px;
  text-align: left;
  font-size: 20px;
}

table {
  background-color: #ffffff;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 2px solid #2e2e2e;
}

th[scope="col"] {
  background-color: #726db2;
  color: #ffffff;
}

th[scope="row"] {
  background-color: #b2add5;
}
